@import '../../partials/_base';

.layout {
  background-image: url($image-background-dashboard);
  min-height: 100vh;
  height: 100%;
  padding: 64px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
