// Colors
$color-san-marino: #3c77a3;
$color-dove-gray: #676767;
$color-mine-shaft: #343434;
$color-silver-chalice: #b2b2b2;
$color-botticelli: #c4d6e3;
$color-raw-sienna: #d17852;
$color-white: #ffffff;
$color-mercury: #e4e4e4;
$color-mountain-meadow: #10b981;
$color-flamingo: #ef4444;

// Shadows
$shadow-default: 0px 0px 20px rgba(0, 0, 0, 0.01);
$shadow-result-card: 0px 0px 20px rgba(0, 0, 0, 0.2);
$shadow-input: 0px 0px 20px rgba(0, 0, 0, 0.03);

// Overlay
$overlay-default: rgba(0, 0, 0, 0.5);

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

$font-primary: 'Inter', sans-serif;
$font-home-heading: 'Playfair Display', serif;
