@import '../../partials/_base';
@import '../../partials/_typography';

.input {
  background-color: $color-white;
  border-radius: $border-radius;
  box-shadow: $shadow-input;
  padding: 16px;
  border: 1px solid $color-mercury;
  width: 100%;
  box-sizing: border-box;
}

.input::placeholder {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: italic;
  color: $color-silver-chalice;
  font-family: $font-primary;
}

.input:focus::placeholder {
  color: transparent;
}

.input:-moz-placeholder {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: italic;
  color: $color-silver-chalice;
  font-family: $font-primary;
  opacity: 1;
}
.input::-moz-placeholder {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: italic;
  color: $color-silver-chalice;
  font-family: $font-primary;
  opacity: 1;
}
.input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: italic;
  color: $color-silver-chalice;
  font-family: $font-primary;
}
