@import '../../partials/_base';

.status {
  color: $color-mountain-meadow;
  font-size: 12px;
  line-height: 14px;
}

.status__error {
  color: $color-flamingo;
  width: 100%;
  text-align: center;
}

.loading {
  width: 32px;
  height: auto;
}
