@import '../partials/_base';
@import '../partials/_typography';

.button {
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.button__hotel_listing {
  background: $color-botticelli;
  font-weight: 600;
  color: $color-san-marino;
  padding: 16px 32px;
}
