@import '../partials/_base';
@import '../partials/_typography';

.button {
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
}

.button__hotel_listing {
  background: $color-botticelli;
  color: $color-san-marino;
  padding: 16px 32px;
}

.button__hotel_listing:hover {
  box-shadow: $shadow-button;
}

.button__input_submit {
  background: $color-mine-shaft;
  color: $color-white;
  padding: 14px 24px;
  margin-top: 6px;
  font-size: 16px;
  line-height: 19px;
  font-family: $font-primary;
  border: none;
}

.button__input_submit:hover {
  box-shadow: $shadow-button-dark;
}

.button__input_submit.button__input_submit__login {
  background: $color-san-marino;
}
