@import '../partials/_base';
@import '../partials/_typography';

.logout {
  cursor: pointer;
  color: $color-mine-shaft;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 48px 64px 48px 64px;
  box-sizing: border-box;
}

.navbar__links {
  display: grid;
  grid-auto-flow: column;
  gap: 48px;
  color: $color-mine-shaft;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

// .navbar__links a {
//   color: $color-mine-shaft;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 17px;
//   text-decoration: none;
// }

// .navbar__links a:hover {
//   text-decoration: underline;
//   text-decoration-thickness: 2px;
//   text-decoration-color: $color-silver-chalice;
//   text-underline-offset: 2px;
// }

// @media screen and (max-width: 500px) {
//   .navbar {
//     display: grid;
//     justify-content: center;
//     justify-items: center;
//     gap: 24px;
//   }

//   .navbar__links {
//     justify-items: center;
//   }
// }
