@import '../partials/_base';

.card {
  height: 192px;
  display: grid;
  grid-template-columns: 192px auto auto;
}

.card__image {
  height: 192px;
  width: 192px;
  border-radius: 5px;
  box-shadow: $shadow-result-card;
}
