@import '../partials/_base';
@import '../partials/_typography';

.modal {
  position: fixed;
  display: grid;
  justify-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-white;
  padding: 48px;
  border-radius: 5px;
  z-index: 999;
}

.form {
  display: grid;
  grid-template-rows: auto auto auto auto;
  justify-items: center;
  gap: 18px;
  width: 192px;
}

.close_button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 24px;
  margin-right: 24px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $overlay-default;
  z-index: 999;
}
