@import '../partials/_base';

// .modal_wrapper {
//   position: absolute;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 50%;
//   height: 100vh;
// }

.modal {
  position: fixed;
  display: grid;
  justify-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-white;
  padding: 48px;
  border-radius: 5px;
  z-index: 999;
  max-width: 512px;
  width: 100%;
}

.modal__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__content h2 {
  margin-bottom: 18px;
}

.paragraph {
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 24px;
  // display: grid;
  // grid-auto-flow: row;
  // gap: 16px;
}

.paragraph > div {
  margin-bottom: 16px;
}

.paragraph > div:last-child {
  margin-bottom: 0;
}

.identifiers {
  display: grid;
  grid-auto-flow: row;
  gap: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.form {
  display: grid;
  grid-template-rows: auto auto auto auto;
  justify-items: center;
  gap: 18px;
  width: 192px;
}

.close_button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 24px;
  margin-right: 24px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $overlay-default;
  z-index: 999;
}
