@import '../../partials/_base';

.card {
  display: grid;
  grid-template-rows: auto auto;
  width: 256px;
  min-height: 184px;
  background-color: $color-white;
  border-radius: 5px;
  box-shadow: $shadow-default;
  cursor: pointer;
}

a.card {
  text-decoration: none;
  color: inherit;
}

.card__top {
  padding: 24px 24px 18px 24px;
  border-bottom: 1px solid $color-mercury;
  min-height: 93px;
}

.card__bottom {
  padding: 18px 0 18px 24px;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 8px;
}

.description {
  font-size: 12px;
  line-height: 140%;
}

.date {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}
