@import '../../partials/_base';

.card {
  height: 192px;
  display: inline-grid;
  grid-template-columns: min-content auto fit-content(100%);
  width: 100%;
}

.card__image {
  height: 192px;
  width: 192px;
  border-radius: $border-radius;
  box-shadow: $shadow-strong;
  object-fit: cover;
  cursor: pointer;
}

.card__name {
  cursor: pointer;
}

.card__center {
  display: inline-grid;
  grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%);
  gap: 16px;
  padding: 16px 32px 0 32px;
}

.card__right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: end;
}

@media screen and (max-width: 759px) {
  .card {
    height: auto;
    display: inline-grid;
    grid-template-columns: 192px;
    grid-template-rows: 192px auto auto;
    gap: 16px;
  }

  .card__center {
    padding-top: 0;
    text-align: center;
    justify-items: center;
    padding: 0;
  }
}
