@import '../../partials/base';

.autocomplete {
  position: absolute;
  display: grid;
  grid-auto-flow: row;
  gap: 18px;
  background-color: $color-white;
  margin-top: 8px;
  padding: 18px;
  max-width: 256px;
  border-radius: 5px;
  box-shadow: $shadow-input;
  max-height: 128px;
  overflow-y: auto;
  // overflow: scroll;
}

.result {
  display: grid;
  grid-template-columns: 35px auto;
  gap: 16px;
  cursor: pointer;
  // padding: 18px;
}

.result:last-child {
  padding-bottom: 18px;
}

.hide {
  display: none;
}

.result img {
  width: 34px;
  height: 34px;
  border-radius: 5px;
  box-shadow: $shadow-default;
  object-fit: cover;
}

.description {
  display: grid;
  grid-auto-flow: row;
  align-self: center;
  gap: 6px;
}

.description__heading {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: $color-mine-shaft;
}

.description__address {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: $color-dove-gray;
}
