@import '../../partials/_base';

.logout {
  cursor: pointer;
  color: $color-mine-shaft;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 48px 64px 48px 64px;
  box-sizing: border-box;
}

.navbar__links {
  display: grid;
  grid-auto-flow: column;
  gap: 48px;
}

.navbar__links a {
  color: $color-mine-shaft;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
}

.navbar__links__current {
  border-bottom: 1px solid $color-silver-chalice;
  padding-bottom: 4px;
}

@media screen and (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar__links {
    grid-auto-flow: row;
    gap: 16px;
    justify-items: center;
    margin: 24px 0 24px 0;
  }
}
