@import '../partials/_base';
@import '../partials/_typography';

.background {
  background-image: url($image-background-home);
  min-height: 100vh;
  height: 100%;
}

.heading {
  font-size: 64px;
  line-height: 74px;
  font-family: $font-home-heading;
  margin: 0;
}

.heading span {
  display: block;
  color: $color-san-marino;
}

.grid {
  display: grid;
  grid-template-columns: 60% 40%;
}

.grid__left {
  display: flex;
  position: relative;
}

.grid img {
  max-width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 69px 24px 0 24px;
}

.content__wrapper {
  display: grid;
  grid-auto-flow: row;
  // grid-template-columns: auto;
  gap: 18px;
}

@media screen and (max-width: 1300px) {
  .grid {
    grid-template-columns: auto;
    grid-template-rows: 512px auto;
  }
}

@media screen and (max-width: 700px) {
  .heading {
    text-align: center;
  }

  .content__wrapper {
    // justify-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 110px;
  }
}

@media screen and (max-width: 500px) {
  .heading {
    font-size: 48px;
    line-height: 58px;
  }
}

@media screen and (max-width: 400px) {
  .content {
    margin-top: 192px;
  }
}
